.container {
  background-color: black;
  width: 100vw;
  height: 100vh;
}
.header {
  display: flex;
  align-items: center;
  width: 90%;
  margin: auto;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 10px;
  border-bottom: 1px solid whitesmoke;
}
.mainContainer {
  width: 30%;
  margin: auto;
  max-height: 90%;
  padding: 10;
  overflow-y: scroll;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 500px) {
  .header {
    flex-direction: column;
  }
  .mainContainer {
    width: 90%;
  }
}
@media screen and (min-width: 501px) and (max-width: 800px) {
    .header {
        flex-direction: column;
      }
    .mainContainer {
        width: 70%;
    }
}
@media screen and (min-width: 801px) and (max-width: 1200px) {
    .header {
        flex-direction: column;
      }
    .mainContainer {
        width: 50%;
    }
}
